body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f3e4;
    color: #333;
}

header {
    background-color: #ffcc00;
    padding: 20px;
}

h1 {
    color: #b32d00;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
}

img {
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px o;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
th {
    background-colour: #ffcc00;
    colour: #333;
    font-weight: bold;
}
td {
    background-colour: #fff;
    colour: #000;
